// Arguments to be passed: NONE

@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

// Arguments to be passed: $url: Specify URl of the image (eg: url(..img/something.jpg))

@mixin gradient-background($url) {
    background-image: linear-gradient(to right bottom,rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), $url;
    background-size: cover;
}

@mixin absolute-center($transforms-extra) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) $transforms-extra;
}


// MEDIA QUERY MANAGER (DESKTOP-FIRST)

/*

0 - 600px:      Phone
600 - 900px:    Tablet Potrait
900 - 1200px:   Tablet Landscape

[1200px - 1800px] is where our normal styles apply

1800px + :      1080p+ Desktop Screens

*/

/*
$breakpoint arguments:

phone
tab-port
tab-land
big-desktop

IMPORTANT:
1em: 16px
*/

@mixin respond($breakpoint) {

    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { // 600px
            @content;
        }
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { // 900px
            @content;
        }
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { // 1200px
            @content;
        }
    }

    @if $breakpoint == big-desktop { // min-width as these styles apply when the min-width is 1800px
        @media only screen and (min-width: 112.5em) { // 1800px
            @content;
        }
    }

}












