.footer {
    position: relative;
    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;

    @include respond(tab-port) {
        padding: 8rem 0;
    }

    &__logo-box {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    &__logo {
        height: 10rem;
    }

    &__navigation {
        @include clearfix;
        margin-top: 10rem;
        border-top: 1px solid $color-grey-dark-2;
        padding-top: 2rem;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
            margin-top: 12.5rem;
        }
    }

    &__list {
        list-style: none;
        
    }

    &__item {
        display: block;
        float: left;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            text-decoration: none;
            color: $color-white;
            padding: .5rem 1rem;
            text-transform: uppercase;
            transition: all .2s;
        }


        &:hover,
        &:active {
            background-color: $color-black;
            box-shadow: 0rem 2rem 4rem rgba($color-black, .25);
            color: $color-primary;
            transform: skewY(-3deg) skewX(3deg) scale(1.1);
        }
    }

    &__copyright {
        margin-top: 10rem;
        padding-top: 2rem;
        border-top: 1px solid $color-grey-dark-2;

        @include respond(tab-port) {
            width: 100%;
            margin-top: 0;
            float: none;
        }
    }
}